go 1.19

use (
	.
	./broker/cloudevents
	./broker/pubsub
	./confy
	./examples/emulator
	./examples/publish
	./examples/subscribe
	./logger
	./telemetry
)

replace github.com/xmlking/toolkit v0.3.2 => ./
