go 1.18

use (
	.
	./broker/cloudevents
	./broker/pubsub
	./confy
	./examples/emulator
	./examples/publish
	./examples/subscribe
	./logger
	./telemetry
	./xds
)
replace (
    github.com/xmlking/toolkit v0.2.5 => ./
    github.com/xmlking/toolkit/broker/pubsub v0.2.5  => ./broker/pubsub
    github.com/xmlking/toolkit/broker/cloudevents  v0.2.5  => ./broker/cloudevents
)
